<!DOCTYPE html>
<html lang="en">
<head>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>BS Works</title>
</head>
<body>

    <div class="container">
        <hr>



 {% for  val  in  music_details.values %}


    {% for music_detail in val|slice:"1:" %}

              <div class="col-sm-2 col-md-3">
                <div class="thumbnail">
                  <img src="{{ music_detail.4 }}" class="img-responsive">
                  <div class="caption">
                    <h3>{{ music_detail.0|lower }}</h3>
                    <p>{{ music_detail.1 }}</p>
                    <p>{{ music_detail.2 }} {{ music_detail.3 }}</p>
                    <p><a target="_blank" href="https://www.youtube.com/{{ music_detail.5 }}" class="btn btn-primary" role="button">Git</a></p>
                  </div>
                </div>
              </div>


    {% endfor %}

 {% endfor %}


        <div class="col-md-12 center-block">
            <div class="alert alert-info">
                <p>Bu bot <b>{{ start_time }} </b> saatinde başlayıp <b>{{ final_time }}</b> saatinde işlemini tamamladı. </p>
            </div>
         </div>
    </div>



</body>
</html>